* {
  background-color: #827397;
  padding: 0px;
  margin: 0px; }

.logo {
  height: 100px;
  width: 100px;
  text-align: center; }
  .logo img {
    max-width: 100%;
    max-height: 100%; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px; }

.cuerpo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.card {
  width: 14rem;
  border: 2px solid black; }

.btn {
  background-color: #363062;
  color: white;
  border: 2px solid black; }
