@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
* {
  background-color: #4D4C7D;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  color: white; }

.logo {
  height: 110px;
  width: 110px;
  text-align: center; }
  .logo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px; }

.calesita {
  height: 50rem;
  width: 50rem;
  text-align: center; }
  .calesita img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100px; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px; }

.cuerpo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.card {
  width: 12rem;
  border: 2px solid black;
  text-align: center; }
  .card .btn {
    width: 5rem;
    font-size: 10px;
    background-color: #363062;
    color: white;
    border: 2px solid black; }

.btn {
  width: 10rem;
  font-size: 20px;
  background-color: #363062;
  color: white;
  border: 2px solid black; }

.navbar-nav {
  font-size: larger; }

.formulario-contacto {
  display: flex;
  gap: 10px; }

.animate__animated.animate__fadeIn {
  --animate-duration: 3s; }
