@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
@use 'variables';
body {
  background-color: #006E7F;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  color: white; }

.logo {
  height: 110px;
  width: 110px;
  text-align: center; }
  .logo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px; }

.calesita {
  height: 50rem;
  width: 50rem;
  text-align: center; }
  .calesita img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100px; }

.servicios {
  height: 20rem;
  width: 20rem;
  text-align: center; }
  .servicios img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px; }

.btn {
  width: 10rem;
  margin: 2px;
  font-size: 1.25rem;
  background-color: #B22727;
  color: white;
  border: 2px solid black; }

.cabe {
  background-color: #B22727;
  border-radius: 20px;
  margin: 25px; }

.principal, .main, .cuerpo, .cuerposervicios {
  display: flex;
  justify-content: space-evenly;
  gap: 15px; }

.main {
  flex-direction: column; }

.cuerpo {
  flex-direction: row;
  gap: 15px; }

.cuerposervicios {
  margin-top: 50px; }

.card {
  width: 12rem;
  border: 2px solid black;
  text-align: center;
  align-items: center;
  background-color: #006E7F; }
  .card .btn {
    width: 5rem;
    margin: 2px;
    font-size: 0.75rem;
    background-color: #B22727;
    color: white;
    border: 2px solid black; }

.navbar-nav {
  font-size: larger;
  font-size: 1.25rem; }
  .navbar-nav .nav-item {
    padding-left: 100px; }

.formulario-contacto {
  display: flex;
  gap: 10px; }

.animate__animated.animate__fadeIn {
  --animate-duration: 3s; }

@media (max-width: 576px) {
  .card {
    width: 6rem;
    font-size: 0.31rem;
    background-color: #006E7F; }
    .card .btn {
      width: 5rem;
      margin: 2px;
      font-size: 0.75rem;
      background-color: #B22727;
      color: white;
      border: 2px solid black; } }
