@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
body {
  background-color: #006e7f;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Slab", serif;
  color: white; }

.parallax {
  height: 500px;
  background-image: url("https://storage-asset.msi.com/event/vga/2019/get-Rush/images/mnt-02.jpg");
  background-size: cover;
  background-attachment: fixed; }

.logo {
  height: 110px;
  width: 110px;
  text-align: center; }
  .logo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px; }

.calesita {
  height: 50rem;
  width: 50rem;
  text-align: center; }
  .calesita img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100px; }

.servicios {
  height: 20rem;
  width: 20rem;
  text-align: center; }
  .servicios img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px; }

.uno {
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #b22727;
  border-radius: 20px;
  margin: 25px; }
  .uno img {
    border-radius: 15px; }

.btn {
  width: 10rem;
  margin: 2px;
  font-size: 1.25rem;
  background: linear-gradient(to top, #ee5007, #b22727);
  color: white;
  border: 2px solid black; }

.cabe {
  background: linear-gradient(to bottom, #ee5007, #b22727);
  border-radius: 20px;
  margin: 25px; }

.principal, .uno, .main, .cuerpo, .cuerposervicios {
  display: flex;
  justify-content: space-evenly; }

.main {
  flex-direction: column;
  gap: 15px; }

.cuerpo {
  flex-direction: row;
  gap: 10px; }

.cuerposervicios {
  margin-top: 50px; }

.card {
  width: 12rem;
  border: 2px solid black;
  text-align: center;
  align-items: center;
  background-color: #006e7f;
  background: linear-gradient(to top, #006e7f, #033d47); }
  .card .btn {
    width: 5rem;
    margin: 2px;
    font-size: 0.75rem;
    background: linear-gradient(to top, #ee5007, #b22727);
    color: white;
    border: 2px solid black; }

.navbar-nav {
  font-size: larger;
  font-size: 1.25rem; }
  .navbar-nav .nav-item {
    padding-left: 100px; }

.formulario-contacto {
  display: flex;
  gap: 10px; }

.animate__animated.animate__fadeIn {
  --animate-duration: 3s; }

@media (max-width: 576px) {
  .card {
    width: 8rem;
    font-size: 0.31rem;
    gap: 5px; }
    .card .btn {
      width: 5rem;
      margin: 2px;
      font-size: 0.75rem;
      background: linear-gradient(to top, #ee5007, #b22727);
      color: white;
      border: 2px solid black; } }

@media (max-width: 768px) {
  .principal, .uno, .main, .cuerpo, .cuerposervicios {
    display: flex;
    flex-wrap: wrap; } }
