@mixin imgs($height,$width,$border){
    height: $height;
    width: $width;
    text-align: center;
    img{
        max-width: 100%;
        max-height: 100%;
        border-radius: $border;
        }
}
// $font-size:("small":0.31rem, "medium":0.75rem, "large":1.25rem,"xlarge":1.875rem);
@mixin btn($width,$fuente,$border){
    width: $width;
    //APLICANDO MAP
    font-size: map-get($font-size,$fuente);
    background-color: $color_3;
    color: $font_color;
    border:$border solid $border_color;
  }