@mixin imgs($height,$width,$border){
    height: $height;
    width: $width;
    text-align: center;
    img{
        max-width: 100%;
        max-height: 100%;
        border-radius: $border;
        }
}
