//MAPEO DE TAMAÑO DE FUENTES
//$font-size:("small":5px, "medium":12px, "large":20px,"xlarge":30px);
$font-size:("small":0.31rem, "medium":0.75rem, "large":1.25rem,"xlarge":1.875rem);

$border_color:black;
$font_color:white;

// PALETAS DE COLORES PARA LA PAGINA (COMENTA / DESCOMENTA PARA CAMBIARLOS )

//  $color_1:#4D4C7D;
//  $color_2:#363062;
//  $color_3:#827397;
//  $color_4:#E9D5DA;

// $color_1:rgb(70, 36, 76);
// $color_2:rgb(113, 43, 117);
// $color_3:rgb(199, 75, 80);
// $color_4:rgb(212, 155, 84);

// $color_1:rgb(0, 30, 108);
// $color_2:rgb(3, 83, 151);
// $color_3:rgb(3, 83, 151);
// $color_4:rgb(3, 83, 151);

$color_1:#006E7F;
$color_2:#F8CB2E;
$color_4:#EE5007;
$color_3:#B22727;
