

//MAPEO DE TAMAÑO DE FUENTES
$font-size:("small":5px, "medium":10px, "large":20px);


$border_color:black;
$font_color:white;


// PALETAS DE COLORES PARA LA PAGINA (COMENTA / DESCOMENTA PARA CAMBIARLOS )
$color_1:#4D4C7D;
$color_2:#363062;
$color_3:#827397;
$color_4:#E9D5DA;

// $color_1:rgb(70, 36, 76);
// $color_2:rgb(113, 43, 117);
// $color_3:rgb(199, 75, 80);
// $color_4:rgb(212, 155, 84);

//  $color_1:rgb(0, 30, 108);
//  $color_2:rgb(3, 83, 151);
//  $color_3:rgb(3, 83, 151);
//  $color_4:rgb(3, 83, 151);

// $color_1:rgb(255, 95, 0);
// $color_2:rgb(178, 6, 0);
// $color_3:rgb(0, 9, 44);
// $color_4:rgb(238, 238, 238);
