@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");

body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Slab", serif;
  color: $font_color;
}

.parallax {
  height: 500px;
  background-image: url("https://storage-asset.msi.com/event/vga/2019/get-Rush/images/mnt-02.jpg");
  background-size: cover;
  background-attachment: fixed;
}

//APLICANDO MIXINS
.logo {
  @include imgs(110px, 110px, 5px);
}
.calesita {
  @include imgs(50rem, 50rem, 100px);
}

.servicios {
  @include imgs(20rem, 20rem, 20px);
}

.uno {
  @extend .principal;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 20px;
  margin: 25px;
  font-size: map-get($font-size, "large");
  img {
    border-radius: 15px;
  }
}
.dos {
  @extend .uno;
  flex-direction: column;
}

.btn {
  @include btn(10rem, "large", 2px, 2px);
}

.cabe {
  background: linear-gradient(to top, $color_5, $color_6);
  border-radius: 20px;
  margin: 25px;
}

// APLICANDO EXTEND
.principal {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.main {
  @extend .principal;
  flex-direction: column;
  gap: 15px;
}

.cuerpo {
  @extend .principal;
  flex-direction: row;
  gap: 10px;
}

.cuerposervicios {
  @extend .principal;
  margin-top: 50px;
}

.card {
  width: 12rem;
  border: 2px solid $border_color;
  text-align: center;
  align-items: center;
  background-color: $color_1;
  background: linear-gradient(to top, $color_5, $color_6);

  //Mixins
  .btn {
    @include btn(5rem, "medium", 2px, 2px);
  }
}

// .btn{
//   width: 10rem;
//   //APLICANDO MAP
//   font-size: map-get($font-size,'large');
//   background-color: $color_3;
//   color: $font_color;
//   border:2px solid $border_color;
// }

.navbar-nav {
  font-size: larger;
  font-size: map-get($font-size, "large");
  .nav-item {
    padding-left: 100px;
  }
}

.formulario-contacto {
  display: flex;
  gap: 10px;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 3s;
}

//MEDIA QUERIES

@media (max-width: 576px) {
  .card {
    width: 8rem;
    font-size: map-get($font-size, "small");
    gap: 5px;
    //Mixins
    .btn {
      @include btn(4rem, "small", 2px, 2px);
    }
  }
}

@media (max-width: 768px) {
  .principal {
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
}

//large

@media (max-width: 1350px) {
  .dos {
    flex-direction: column;
  }
}
