@import "variables";  
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
*{
    background-color: $color_1;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    color: $font_color;
}

//APLICANDO MIXINS
.logo{
    @include imgs(110px,110px,5px)
}
.calesita{
    @include imgs(50rem,50rem,100px);
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
}
.cuerpo{    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

.card{
    width: 12rem;
    border: 2px solid $border_color;
    text-align: center;
    .btn{
        width: 5rem;
        //APLICANDO MAP
        font-size: map-get($font-size,'medium');
        background-color: $color_2;
        color: $font_color;
        border:2px solid $border_color;
    }
}

.btn{
  width: 10rem;
  //APLICANDO MAP
  font-size: map-get($font-size,'large');
  background-color: $color_2;
  color: $font_color;
  border:2px solid $border_color;
}

.navbar-nav{
    font-size: larger;
}

.formulario-contacto{
    display: flex;
    gap: 10px;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
  }